body {
    font-family: Arial;
    width: 400px;
    margin: 50px auto;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    margin-left: 10px;
    text-decoration: none;
}